@charset "UTF-8";
/*SE TRAEN LOS MAPS Y VARIABLES UTILIZADAS EN LOS ASPECTOS GENERALES DE LA WEB*/
/*MAP GENERADO PARA TAMAÑOS DE FUENTES RELATIVAS PARA UNA MEJOR ADAPTABILIDAD A LAS PANTALLAS Y LOS COLORES BASES DEL SITIO WEB*/
/*FUENTES*/
/*SE DEJA LA VARIABLE BORDER RADIUS PARA RESPETAR LA CONSIGNA Y QUE HAYA VARIABLES EN EL PROYECTO, UTILIZARLA EN ELMIXIN Y MAPS, ETC*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

html, body {
  background-color: #014D69;
  zoom: 0%;
}

main {
  color: #F0F4F9;
}

h1, .wellcome .wellcome_description h2 {
  color: #F3AE5F;
  font-size: 2.6em;
  font-family: sans-serif italic;
}

h2 {
  color: #F0F4F9;
  font-size: 2.1em;
  font-family: sans-serif italic;
}

h3 {
  font-size: 1.7em;
}

h4 {
  color: #F0F4F9;
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

.title_1 { /*SE GENERAN CLASES PARA TITULOS Y LAS TARJETAS APLICANDO ANIMACIONES, VARIABLES Y MAPS*/
  margin-top: 100px;
}
.title_1 h2 {
  text-align: center;
  font-size: 2.6em;
}
.title_1 p {
  text-align: center;
  font-size: 1.7em;
}

.container { /*SE UTILIZA PARA EL CONTENEDOR DE TARJETAS Y TAMBIEN PARA EL CONTENEDOR DE BOOSTRAP, SE APLICAN ESTILOS Y LUEGO SE MODIFICAN CON BOOSTRAPS, APLICADO EN "SOBRE NOSOTROS"*/
  border-bottom: 3px solid #F3AE5F;
  border-top: 8px solid #F3AE5F;
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: #F0F4F9;
}
.container .card {
  border-color: transparent;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 60px;
  background-color: transparent;
}
.container .card .card-image img {
  border-radius: 20px;
  width: 400px;
  height: 250px;
  object-fit: cover;
  object-position: bottom;
  border-top: 3px solid #F3AE5F;
}
.container .card .card-text {
  border-radius: 20px;
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: #0B87BA;
  color: #F0F4F9;
  padding: 20px;
}
.container .card .card-text .card-title {
  font-size: 2.1em;
  margin-bottom: 20px;
  margin-top: 5px;
}
.container .card .card-text .card-body {
  font-size: 1.2rem;
}

.read-more {
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #014D69;
  color: #F0F4F9;
  margin-left: auto;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #F3AE5F;
  border-top: 3px solid #F3AE5F;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
.read-more a {
  color: #F0F4F9;
  text-decoration: none;
}
.read-more:hover {
  background-color: #F3AE5F;
  transform: scale(1.15);
  border-bottom: 3px solid #F3AE5F;
  border-top: 3px solid #F3AE5F;
}

/*SE UTILIZAN MAPS PARA EL COLOR*/
.accordion {
  border-top: solid 8px #F3AE5F;
  border-radius: 14px;
  border-bottom: solid 8px #F0F4F9;
}

.accordion-button {
  background-color: #F0F4F9;
}

.accordion-collapse {
  background-color: #F3AE5F;
  color: #014D69;
}

.footer .footer-links ul li a, .footer .social-links a { /*SE GENERA UN EXTEND PARA UTILIZAR EN DOS SECCIONES DISTINTAS DEL FOOTER*/
  text-decoration: none;
  background-color: none;
  color: #F0F4F9;
  transition: color 0.3s ease;
}
.footer .footer-links ul li a:hover, .footer .social-links a:hover {
  color: #F3AE5F;
}

/*PIE DE PAGINA, SE LLAMA A VARIABLES MAPS Y EXTEND PARA*/
.footer {
  background-color: #014D69;
  padding: 15px 0px;
  border-top: solid 8px #F3AE5F;
  border-bottom: solid 16px #F3AE5F;
}
.footer .footer-container {
  max-width: 1300px;
  margin: 0 auto;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.footer .footer-links {
  width: 25%;
}
.footer .footer-links h4 {
  font-size: 24px;
  color: #F0F4F9;
  margin-bottom: 20px;
  border-bottom: solid 3px #F3AE5F;
  padding-bottom: 10px;
  display: inline-block;
}
.footer .footer-links ul {
  list-style-type: none;
}
.footer .footer-links ul li a {
  /*SE UTILIZA EL EXTEND PARA NO DUPLICAR CODIGO Y SE LE AGREGAN LAS MODIFICACIONES CORRESPONDIENTE*/
  font-size: 16px;
  display: block;
  margin-bottom: 12px;
  transition: padding-left 0.3s ease;
}
.footer .footer-links ul li a:hover {
  padding-left: 6px;
}
.footer .social-links a {
  /*SE UTILIZA EL EXTEND NUEVAMENTE PARA NO DUPLICAR CÓDIGO, SE LE AGREGAN LAS MODIFICACIONES CORRESPONDIENTE DEBAJO*/
  display: inline-block;
  min-height: 40px;
  line-height: 40px;
  margin: 0px 12px 12px 0px;
  text-align: center;
}

/*SE GENERA UN MIXIN PARA APLICAR BORDES A CIERTAS ESTRUCTURAS DE LA WEB, SE UTILIZA LA VARIBLE BORDER RADIUS DECLARADA EN VARIABLES*/
.contact {
  text-align: center;
  margin: 20px 5px;
}
.contact .form-contact {
  background-color: #F0F4F9;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-top: solid 10px #F3AE5F;
}
.contact .form-contact label {
  font-size: 14px;
  color: #014D69;
  font-weight: bold;
  margin-bottom: 5px;
}
.contact .form-contact input,
.contact .form-contact textarea {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #F3AE5F;
  border-top: solid 3px #F3AE5F;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease;
  color: #014D69;
}
.contact .form-contact input:focus,
.contact .form-contact textarea:focus {
  border-color: #F3AE5F;
}
.contact .form-contact textarea {
  resize: vertical;
  min-height: 100px;
}
.contact .form-contact button {
  background-color: #F3AE5F;
  color: #F0F4F9;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.contact .form-contact button:hover {
  background-color: #0B87BA;
}

/*SE GENERA ANIDAMIENTO, EL ESTILO Y UNA PEQUEÑA ANIMACIÓN PARA LOS ITEMS DE LA CLASE*/
.galleryhistory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}
.galleryhistory .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}
.galleryhistory .gallery-item:hover {
  transform: scale(1.03);
}
.galleryhistory .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*CLASE UTILIZADA PARA LOS ARTICULOS E HISTORIAS MÁS EXTENSAS PRESENTADAS EN LA WEB*/
.history {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  padding: 40px 20px;
  position: relative;
}
.history h2 {
  font-size: 35px;
  text-align: left;
  margin-bottom: 20px;
}
.history h3 a {
  color: #F0F4F9;
  transition: all 0.3s ease;
}
.history h3 a:hover {
  color: #F3AE5F;
  padding-left: 6px;
}
.history article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F0F4F9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #014D69;
  position: relative;
  border-bottom: 3px solid #F3AE5F;
  border-top: 8px solid #F3AE5F;
}
.history article h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #F3AE5F;
}

/* NAVBAR CON BOOSTRAP EDITADA CON SCSS */
.custom-navbar {
  background-color: #014D69;
  padding: 1rem 0;
  border-bottom: 8px solid #F3AE5F;
  border-radius: 80px;
}
.custom-navbar .navbar-brand {
  color: #F3AE5F; /*SE GENERA EL COLOR CON EL MAPS PARA EL LOGO Y OTRAS PARTES DE LA WEB */
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}
.custom-navbar .nav-link {
  color: #F3AE5F; /* COLOR DE CADA ITEM EN LA BARRA NAV*/
  position: relative; /* SE POSICIONA LA LINEA DE CADA ITEM PARA LA POSICION */
  padding: 0.5rem 0; /*SE UTILIZAN MEDIDAS RELATIVAS YA QUE CON PX GENERABA PROBLEMAS AL CAMBIAR DE TAMAÑO*/
  text-decoration: none;
}
.custom-navbar .nav-link::after {
  content: ""; /* SE GENERÓ EL PSEUDO ELEMENTO PARA APLICARLO EN LA WEB Y GENERAL LA LINEA ANIMADA DEBAJAO DEL ITEM */
  position: absolute;
  bottom: -5px; /* SE GENERA EL ESPACIO ENTRE EL TEXTO DEL ITEM Y LA LINEA */
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F3AE5F;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.custom-navbar .nav-link:hover::after {
  transform: scaleX(1);
}
.custom-navbar .navbar-toggler {
  border: none; /* SE ELIMINA EL BORDE DEL BOTÓN HAMBURGUESA */
}
.custom-navbar .navbar-toggler .navbar-toggler-icon {
  background-color: transparent; /*SE USA LA URL DEL ARCHIVO DE BOOSTRAP PARA CAMBIARLE EL CÓLOR*/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28189, 144, 68, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.wellcome { /*SE GENERA LA CLASE PARA LA IMAGEN Y LA SECCIÓN DE BIENVENIDA, NO SE REUTILIZAN CLASES, SÓLO SE UTILIZARÁ EN LA BIENVENIDA DE MOMENTO*/
  position: relative;
  width: 100%;
  height: 40vh; /*SE USA UNA MEDIDA RELATIVA YA QUE GENERABAN PROBLEMAS CON MEDIDAS FIJAS COMO PX*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F0F4F9;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../img/genericas/welcomeL.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 3px solid #F3AE5F;
  border-top: 3px solid #F3AE5F;
  margin-top: 20px;
}
.wellcome img {
  /* IMAGEN DE FONNOD */
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.wellcome .wellcome_description {
  /*CONTENEDOR DEL TEXTO DE BIENVENIDA Y ANIMACIÓN */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUp 1s ease-in-out forwards;
}
.wellcome .wellcome_description h1, .wellcome .wellcome_description h2 {
  animation-delay: 0.2s;
}
.wellcome .wellcome_description h2 {
  /*SE USA EXTEND PARA DARLE AL H2 DE BIENVENIDA EL MISMO ESTILO QUE EL H1 QUE CONTIENE EL HEADER EN LA BARRA DE NAVEGACIÓN*/
  animation-delay: 0.4s;
}
.wellcome .wellcome_description p {
  animation-delay: 0.6s;
}
@keyframes fadeInSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Footer mediaQ*/
@media (max-width: 900px) {
  .footer-row {
    text-align: center;
  }
  .footer {
    width: 100%;
  }
  .footer .footer-links { /*EN PANTALLAS PEQUEÑAS SE DIVIDE 50% PARA QUE QUEDEN DOS BLOQUES ARRIBA Y DOS ABAJO, NO LOS 4 EN LINEAS COMO EN VISTA DESKTOP*/
    width: 50%;
    margin-bottom: 20px;
  }
}
/* HISTORY MEDIAQ */
@media (max-width: 900px) {
  .history {
    padding: 40px 15px 20px 15px;
    min-width: 100%;
  }
  .history article {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  .history article div {
    width: 100%;
  }
}
/*NAVBAR MEDIAQ*/
@media (max-width: 900px) {
  .custom-navbar .navbar-nav {
    text-align: center; /*SI BIEN SE USA BOOSTRAP SE GENERA ESTA MEDIAQ PARA CENTRAR EL TEXTO EN PANTALLAS PEQUEÑAS*/
  }
}
/*CARD MEDIAQ*/
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .container .card {
    width: 100%;
  }
  .container .card .card-image img {
    border-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    margin-left: auto;
  }
  .container .card .card-text {
    border-radius: 20px;
    margin: -70px auto;
    margin-bottom: -50px;
    height: 70px;
    width: 100%;
    background-color: #0B87BA;
    color: #F0F4F9;
    padding: 20px;
  }
  .container .card .card-text .card-title {
    font-size: 1.4em;
  }
  .container .card .card-text .card-body {
    display: none;
  }
  .container .card .read-more {
    width: 80px;
    height: 30px;
    margin-right: 20px;
  }
}
@media (max-width: 900px) {
  .wellcome_description h1 {
    font-size: 2.1em;
  }
  .wellcome_description h2 {
    font-size: 1.4em;
  }
}

/*# sourceMappingURL=style.css.map */
