/*MAP GENERADO PARA TAMAÑOS DE FUENTES RELATIVAS PARA UNA MEJOR ADAPTABILIDAD A LAS PANTALLAS Y LOS COLORES BASES DEL SITIO WEB*/

$font-sizes: (
    h1: 2.6em,
    h2: 2.1em,
    h3: 1.7em,
    h4: 1.4em,
    p: 1.2em,
);

$colors: (
    "primary":   #014D69,
    "secondary": #F0F4F9,
    "third":     #0B87BA,
    "highlight": #F3AE5F, 
);
