@use 'sass:map';
@use '../utilities/maps' as *;
@use '../base/variables' as *;

.title_1 { /*SE GENERAN CLASES PARA TITULOS Y LAS TARJETAS APLICANDO ANIMACIONES, VARIABLES Y MAPS*/
    margin-top: 100px;

        h2 {
        text-align: center;
        font-size: map.get($font-sizes, h1);
        }

        p {
        text-align: center;
        font-size: map.get($font-sizes, h3);
        }
    }

    .container { /*SE UTILIZA PARA EL CONTENEDOR DE TARJETAS Y TAMBIEN PARA EL CONTENEDOR DE BOOSTRAP, SE APLICAN ESTILOS Y LUEGO SE MODIFICAN CON BOOSTRAPS, APLICADO EN "SOBRE NOSOTROS"*/
        border-bottom: 3px solid map.get($colors, highlight);
        border-top: 8px solid map.get($colors, highlight);
        border-radius: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 40px 20px;
        background-color: map.get($colors, secondary);

    .card {
        border-color: transparent;
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-bottom: 60px;
        background-color: transparent;

        .card-image {
            img {
            border-radius: 20px;
            width: 400px;
            height: 250px;
            object-fit: cover;
            object-position: bottom;
            border-top: 3px solid map.get($colors, highlight);
        }
    }

        .card-text {
            border-radius: 20px;
            margin: -30px auto;
            margin-bottom: -50px;
            height: 300px;
            width: 300px;
            background-color: map.get($colors, third);
            color: map.get($colors, secondary);
            padding: 20px;

        .card-title {
            font-size: map.get($font-sizes, h2);
            margin-bottom: 20px;
            margin-top: 5px;
            }

        .card-body {
            font-size: 1.2rem;
            }
        }
    }
}

.read-more {
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: map.get($colors, primary);
    color: map.get($colors, secondary);
    margin-left: auto;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid map.get($colors, highlight);
    border-top: 3px solid map.get($colors, highlight);
    transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease, border-color 0.5s ease;

    a {
    color: map.get($colors, secondary);
    text-decoration: none;
    }
    &:hover {
    background-color: map.get($colors, highlight);
    transform: scale(1.15);
    border-bottom: 3px solid map.get($colors, highlight);
    border-top: 3px solid map.get($colors, highlight);
    }
}


