@use 'sass:map';
@use '../utilities/maps' as *;
@use '../base/variables' as *;
@use '../utilities/extend' as *;

/*PIE DE PAGINA, SE LLAMA A VARIABLES MAPS Y EXTEND PARA*/
.footer {
    background-color: map.get($colors, primary);
    padding: 15px 0px;
    border-top: solid 8px map.get($colors, highlight);
    border-bottom: solid 16px map.get($colors, highlight);

    .footer-container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .footer-links  {
        width: 25%;
    
        h4 {
            font-size: 24px;
            color: map.get($colors, secondary);
            margin-bottom: 20px;
            border-bottom: solid 3px map.get($colors, highlight);
            padding-bottom: 10px;
            display: inline-block;
        }

        ul {
            list-style-type: none;
            li {
                a {
                    @extend %footer-link-base; /*SE UTILIZA EL EXTEND PARA NO DUPLICAR CODIGO Y SE LE AGREGAN LAS MODIFICACIONES CORRESPONDIENTE*/
                    font-size: 16px;
                    display: block;
                    margin-bottom: 12px;
                    transition: padding-left 0.3s ease;
                    &:hover {
                        padding-left: 6px;
                        }
                    }
                }
            }
        }

    .social-links {
        a {
            @extend %footer-link-base; /*SE UTILIZA EL EXTEND NUEVAMENTE PARA NO DUPLICAR CÓDIGO, SE LE AGREGAN LAS MODIFICACIONES CORRESPONDIENTE DEBAJO*/
            display: inline-block;
            min-height: 40px;
            line-height: 40px;
            margin: 0px 12px 12px 0px;
            text-align: center;
            }
        }
    }


