@use 'sass:map';
@use '../utilities/maps' as *;
@use '../base/variables' as *;

.history {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
    padding: 40px 20px;
    position: relative;

        h2 {
        font-size: 35px;
        text-align: left;
        margin-bottom: 20px;
        }

        h3 {
        a {
            color: map.get($colors, secondary);
            transition: all 0.3s ease;
            &:hover {
            color: map.get($colors, highlight);
            padding-left: 6px;
            }
        }
    }

    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: map.get($colors, secondary);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        color: map.get($colors, primary);
        position: relative;
        border-bottom: 3px solid map.get($colors, highlight);
        border-top: 8px solid map.get($colors, highlight);

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
            color: map.get($colors, highlight);
        }
    }
}


