@use 'sass:map';
@use '../utilities/maps' as *;
@use '../base/variables' as *;

.wellcome {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: map.get($colors, secondary);
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
                url("../img/genericas/welcomeL.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 3px solid map.get($colors, highlight);
    border-top: 3px solid map.get($colors, highlight);
    margin-top: 20px;

    img {
        /* Imagen de fondo */
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        }

    .wellcome_description {
        /* Contenedor del texto */
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInSlideUp 1s ease-in-out forwards;

        h1 {
            animation-delay: 0.2s;
        }

        h2 {
            animation-delay: 0.4s;
        }

        p {
            animation-delay: 0.6s;
        }
    }

    @keyframes fadeInSlideUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
