@use 'sass:map'; /*SE TRAEN LOS MAPS Y VARIABLES UTILIZADAS EN LOS ASPECTOS GENERALES DE LA WEB*/
@use '../utilities/maps' as *;
@use './variables' as *;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Playfair Display', serif;
}

html, body {
    background-color: map.get($colors, primary);
    zoom: 0%;
}

main {
    color: map.get($colors, secondary);
}

h1 {
    color: map.get($colors, highlight);
    font-size: map.get($font-sizes, h1);
    font-family:$sans-serif-italic;
}

h2 {
    color: map.get($colors, secondary);
    font-size: map.get($font-sizes, h2);
    font-family:$sans-serif-italic;

}

h3 {
    font-size: map.get($font-sizes, h3);
}

h4 {
    color: map.get($colors, secondary);
    font-size: map.get($font-sizes, h4);
}

p {
    font-size: map.get($font-sizes, p);
}