/*Fuentes*/
$font-family: 'Playfair Display', serif;
$sans-serif-italic: sans-serif italic;
/*Se deja la variable border radius para respetar consiga, utilizar en el mixin y dar uso a variables, map etc*/
$border-radius: 8px;