/*FUENTES*/
$font-family: 'Playfair Display', serif;
$sans-serif-italic: sans-serif italic;
/*SE DEJA LA VARIABLE BORDER RADIUS PARA RESPETAR LA CONSIGNA Y QUE HAYA VARIABLES EN EL PROYECTO, UTILIZARLA EN ELMIXIN Y MAPS, ETC*/
$border-radius: 8px;